body {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
}


.players {
    display: flex;
    flex: 0 0 auto;
    width: 500px;
    justify-content: center;
    gap: 100px;
    margin: 75px;
    border: 1px solid black;
}

.players > p {
    border: 1px solid black;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cell0 {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#cell1 {
    border-bottom: 3px solid black;
}

#cell2 {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

#cell3 {
    border-right: 3px solid black;
}

#cell5 {
    border-left: 3px solid black;
}

#cell6 {
    border-right: 3px solid black;
    border-top: 3px solid black;
}

#cell7 {
    border-top: 3px solid black;
}

#cell8 {
    border-left: 3px solid black;
    border-top: 3px solid black;
}

.buttons {
    border: 0px;
    background-color: white;
    color: white;
    font-size: 3em;
}

img {
    width: 2em;
}